---
import Layout from "@/components/Layout.astro";
import ProfileImg from "@/components/ProfileImg.astro";
import Contact from "@/components/Contact.astro";
import AboutMe from "@/components/AboutMe.astro";
---

<Layout>
  <main class="max-w-5xl mx-auto p-10">
    <ProfileImg />
    <AboutMe />
    <Contact />
  </main>
</Layout>
