<article class="pt-6 tracking-wide text-xs md:text-lg text-gray-300">
  <div class="flex gap-10 justify-content-center pb-2">
    <span>1</span>
    <p class="">hi, my name is Gabriel Acosta (gabox).</p>
  </div>
  <div class="flex gap-10 justify-content-center pb-2">
    <span>2</span>
    <p class="">
      i am a <span class="text-orange-200">software developer</span>, I love
      creating things ;).
    </p>
  </div>
  <div class="flex gap-10 justify-content-center">
    <span>3</span>
    <p class="text-gray-500">
      # i am currently working at Satellogic building software for satellites with
      Python.
    </p>
  </div>
  <div class="flex gap-10 justify-content-center">
    <span>4</span>
    <p class="">
      <span class="bg-purple-600 p-1 font-bold"># TODO:</span> next challenge. :wq
    </p>
  </div>
</article>

<style>
  .cur {
    background-color: orange;
    width: 0.75rem;
    height: 1.5rem;
    animation: blink 1.2s infinite;
    margin-bottom: -5px;
  }
  @keyframes blink {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
</style>
